<ion-header>
  <ion-toolbar>
    <ion-title>Listado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="ciudadesForm" (ngSubmit)="guardar()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item [ngClass]="{'error':( !nombreControl.valid 
          && nombreControl.touched)}">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item [ngClass]="{'error':( !habitantesControl.valid 
          && habitantesControl.touched)}">
            <ion-label position="floating">Habitantes</ion-label>
            <ion-input formControlName="habitantes" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="full" type="submit" [disabled]="!ciudadesForm.valid">
      Guardar
    </ion-button>
  </form>

  <ion-list>
    <ion-item-sliding *ngFor="let c of ciudades; let i=index" #slidingItem>
      <ion-item>
        <ion-label>{{c.nombre}}</ion-label>
        <ion-label>{{c.habitantes}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="edit(c,i,slidingItem)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="confirmDelete(c,i,slidingItem)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>