<ion-header>
  <ion-toolbar>
    <ion-title>Listado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="ciudadesForm" (ngSubmit)="guardar()">
    <ion-item [ngClass]="{'error':( !nombreControl.valid 
              && (nombreControl.touched || nombreControl.dirty))}">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text"></ion-input>
    </ion-item>
    <span class="span-error" *ngIf="(nombreControl.hasError('required') && nombreControl.dirty)">Nombre es obligatorio</span>
    <br />
    <ion-item [ngClass]="{'error':( !habitantesControl.valid 
                  && (habitantesControl.touched || habitantesControl.dirty))}">
      <ion-label position="floating">Habitantes</ion-label>
      <ion-input formControlName="habitantes" type="number"></ion-input>
    </ion-item>
    <span class="span-error" *ngIf="(habitantesControl.hasError('required') && habitantesControl.dirty)">Habitantes es
      obligatorio</span>
    <span class="span-error" *ngIf="(habitantesControl.hasError('min') && habitantesControl.dirty)">Mínimo 100
      habitantes</span>
    <span class="span-error" *ngIf="(habitantesControl.hasError('max') && habitantesControl.dirty)">Máximo 5000000
      habitantes</span>
    <ion-item [ngClass]="{'error':( !fechaControl.valid
    && (fechaControl.touched || fechaControl.dirty))}">
      <ion-label>Fecha</ion-label>
      <ion-datetime formControlName="fecha" display-format="DD/MM/YYYY" cancelText="Cancelar" doneText="OK"></ion-datetime>
    </ion-item>
    <span class="span-error" *ngIf="(fechaControl.hasError('actual') && fechaControl.dirty)">La fecha es
      mayor a la actual</span>
    <ion-button expand="full" type="submit" [disabled]="!ciudadesForm.valid">
      Guardar
    </ion-button>
  </form>

  <ion-list>
    <ion-item-sliding *ngFor="let c of ciudades; let i=index" #slidingItem>
      <ion-item>
        <ion-label>{{c.nombre}}</ion-label>
        <ion-label>{{c.habitantes}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="edit(c,i,slidingItem)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="confirmDelete(c,i,slidingItem)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>